html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.menu-toggle, .nav-list__header-link, .auth-nav__header-contact, .hero__button, .social-list__link, .clients-list__item {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle:hover, .nav-list__header-link:hover, .auth-nav__header-contact:hover, .hero__button:hover, .social-list__link:hover, .clients-list__item:hover, .menu-toggle :focus, .nav-list__header-link :focus, .auth-nav__header-contact :focus, .hero__button :focus, .social-list__link :focus, .clients-list__item :focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
}

.main-nav, .dignity__content, .programing, .cont, .footer-test {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .main-nav, .dignity__content, .programing, .cont, .footer-test {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav, .dignity__content, .programing, .cont, .footer-test {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav, .dignity__content, .programing, .cont, .footer-test {
    max-width: 1200px;
  }
}

.clients-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.main-nav {
  position: relative;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__border {
  border: 1px solid #ececec;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  z-index: 999;
  padding-top: 48px;
  padding-left: 40px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #d12727;
}

.nav-list__menu,
.auth-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .nav-list__menu,
  .auth-nav__menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.nav-list__mobile-menu,
.auth-nav__mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-list__mobile-menu {
  margin-bottom: 300px;
}

@media (max-width: 767px) {
  .nav-list__mobile-menu {
    display: inline-block;
  }
}

.auth-nav__mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 64px;
}

.soc-list__mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 18px;
  line-height: 1.22;
}

.soc-list__item {
  list-style: none;
}

.soc-list__item:not(:last-child) {
  margin-right: 20px;
}

.soc-list__item .soc-list__item::after {
  content: "";
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  color: #757575;
}

.soc-list__item a {
  color: #2196f3;
  text-decoration: none;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .main-logo {
    margin-right: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .main-logo {
    margin-right: 95px;
  }
}

.main-logo__header {
  color: #212121;
}

.main-logo__footer {
  color: #fff;
}

.nav-list__header-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .nav-list__header-link {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__header-link {
    height: 80px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__header-link--underline::after {
    position: absolute;
    content: "";
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

@media screen and (min-width: 481px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item {
    margin-left: 50px;
  }
  .nav-list__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item {
    margin-bottom: 10px;
  }
  .auth-nav__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item {
    margin-left: 50px;
  }
  .auth-nav__item:first-child {
    margin-left: 0;
  }
}

.auth-nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .auth-nav {
    display: none;
  }
}

.auth-nav__header-contact {
  color: #212121;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .auth-nav__header-contact {
    margin-bottom: 32px;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__header-contact {
    line-height: 1.17;
    font-size: 14px;
  }
}

.auth-nav__header-contact--center {
  margin-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 24px;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .auth-nav__header-contact--center {
    font-size: 14px;
  }
}

.auth-nav__icon {
  color: #757575;
  margin-right: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__overley {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .hero__overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/@/Hero-mob-x1.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/@/Hero-mob-x1.jpeg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2f303a;
    margin: auto;
    background-size: cover;
  }
}

@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero__overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/@/Hero-mob-x2.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/@/Hero-mob-x2.jpeg");
  }
}

@media screen and (min-width: 768px) {
  .hero__overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/@/Hero-tab-x1.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/@/Hero-tab-x1.jpeg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2f303a;
    margin: auto;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/@/Hero-tab-x2.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/@/Hero-tab-x2.jpeg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/img.studio/hero.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/img.studio/hero.jpeg");
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-color: #2f303a;
    margin: auto;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../../img/@/hero-x2.jpeg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../img/@/hero-x2.jpeg");
  }
}

.hero__title {
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 700px;
    line-height: 1.36;
    font-size: 44px;
  }
}

.hero__button {
  color: #fff;
  background-color: #2196f3;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.hero__button:hover, .hero__button :focus {
  background-color: #fff;
}

.dignity__content {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .dignity__content {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.dignity-list {
  list-style: none;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .dignity-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.dignity__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.dignity__features {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.dignity__subtitle {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.dignity-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .dignity-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .dignity-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.programing {
  display: none;
  padding-bottom: 95px;
}

@media screen and (min-width: 1200px) {
  .programing {
    display: block;
  }
}

.programing-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.programing-list__item {
  position: relative;
}

.programing-list__item + .programing-list__item {
  margin-left: 30px;
}

.programing-discription {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.programing-discription__bg {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headline {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .headline {
    max-width: 1200px;
    font-size: 36px;
  }
}

.team__backround {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team__backround {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.team-list {
  list-style: none;
  margin-top: 30px;
  margin-bottom: -30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    max-width: 1200px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__subtitle--pading {
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list__item {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__developers {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__subtitle {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 10px;
  margin-bottom: 15px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__icon {
  height: 20px;
  width: 20px;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}

.social-list__link:hover, .social-list__link :focus {
  cursor: pointer;
  background-color: #2196f3;
  fill: #fff;
}

.social-list__icon--white {
  fill: #fff;
}

.footer-link {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-link {
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-link {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
    padding-top: 0;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 95px;
    padding-bottom: 95px;
  }
}

.clients-list {
  list-style: none;
  margin-bottom: -30px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 480px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin-top: 50px;
  }
}

.clients-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.footer__bg {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-test {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-test {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    text-align: start;
    display: block;
  }
}

.footer__location {
  color: #fff;
  margin-top: 20px;
}

.footer-contact {
  list-style: none;
  margin-top: 10px;
}

.footer-contact__item {
  margin-top: 10px;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer-social__list {
    margin-right: -10px;
  }
}

.main-logo {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .main-logo {
    margin-right: 85px;
  }
}

@media screen and (min-width: 1200px) {
  .main-logo {
    margin-right: 95px;
  }
}

.main-logo__header {
  color: #212121;
}

.main-logo__footer {
  color: #fff;
}

.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover, .footer__mail :focus {
  color: #2196f3;
  fill: #2196f3;
}

.footer__mail,
.footer__location {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__icon {
  height: 20px;
  width: 20px;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background: rgba(255, 255, 255, 0.1);
}

.social-list__link:hover, .social-list__link :focus {
  cursor: pointer;
  background-color: #2196f3;
  fill: #fff;
}

.social-list__icon--white {
  fill: #fff;
}

.footer-link {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-link {
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-link {
    display: inline-block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
    padding-top: 0;
  }
}

.footer-form {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
    margin-right: 0;
    margin-top: 0;
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: inherit;
  border-radius: 4px;
  height: 50px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 360px;
  }
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus-within {
  outline: none;
  border: 1px solid #2196f3;
  color: #fff;
}

.footer-form__button {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer-form__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.footer-discription {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  overflow-y: scroll;
}

.backdrop modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 95%;
  max-width: 450px;
  height: 610px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 530px;
    height: 580px;
    top: 50%;
  }
}

.form {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-title {
  text-align: center;
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  color: #212121;
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-label textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-label textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.form-label textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-label__name {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
}

.form__input {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 50px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  height: 40px;
}

.form__input:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.form__input:focus ~ .form__icon {
  fill: #2196f3;
}

.form__icon {
  position: absolute;
  top: 30px;
  left: 5px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  height: 120px;
}

.form__textarea:focus-within {
  outline: none;
  border: 1px solid #2196f3;
}

.form-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
}

.modal__contract {
  color: #2196f3;
}

.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-icon__check {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  margin-left: 13px;
  fill: #fff;
  border: 1px solid #212121;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox__input:checked + .form-icon__check {
  position: absolute;
  fill: #2196f3;
  border: none;
}

.form-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.close {
  position: absolute;
  right: 2%;
  top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-width: 1px;
  padding: 0;
  border-radius: 50px;
  border-width: 1px;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */