html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
  &.modal-open {
overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}